.calculator {
  width: 300px;
  margin: auto;
  margin-top: 7rem;
  border: 2px solid #333;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s;
}

.calculator.dark {
  background-color: #333;
  color: white;
}

.calculator-screen {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 95%;
  height: 30px;
  margin: 5px;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}

.calculator-keys button {
  border: none;
  background-color: transparent;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.calculator-keys button:active {
  background-color: transparent;
}

.calculator.dark .calculator-keys button {
  background-color: transparent;
  color: white;
}

.toggle-theme {
  text-align: center;
  margin: 10px 0;
}

.toggle-theme label {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.toggle-theme input {
  margin-right: 10px;
}